:root {
  --branding-color: #6c63ff;
  --background-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: 272142;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  border-radius: 4px;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  line-height: 27px;
}

.project-description {
  padding: 70px 40px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 75px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 35px;
}

.about-pic {
  border-radius: 8px;
}

.contact-page {
  background: var(--background-color);
  border-radius: 8px;
  padding: 30px 10px 30px 40px;
}

.contact-links {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 16px;
}

.content a:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.logo {
  max-height: 150px;
}

.logo-small {
  max-width: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: var(--default-font-family);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-media-links a {
  margin: 20px;
  color: var(--branding-color);
  background: var(--background-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-media-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 42px !important;
    line-height: 1.5;
  }

  h2 {
    font-size: 42px;
  }

  .hero p {
    font-size: 32px;
  }
  .project-description {
    padding: 20px 10px;
    text-align: center;
  }

  .hero {
    padding: 80px 0;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content-container h1 {
    line-height: 1;
  }

  .about-pic {
    padding: 20px;
    border-radius: 8px;
  }

  .content {
    margin: 0;
  }
}
